img{
    
    
    
}

body{
    
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    /*flex-wrap: wrap;*/
}

.logo{
    width: 6rem;
    position: relative;

    
}

.loginLink {
    margin-left: 24px;
}

#subBut{
    border-radius: 0.4em;
    background-color: olive;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    width: 250px;
    font-size: 1em;
    margin: 1em;
}


#formObj{
    display: flex;
    flex-direction: column;
    
}

.inputForm{
    display: flex;
    flex-direction: column;
    padding: 8px 0px;
    margin-right: 8px;   
    
}

input{
    border-radius: 0.3em;
}

.textForm{
    margin: 1em;
}

.formBody{
    width: clamp(300px,60%,100vw);
    display: flex;

    flex-direction: column;
    justify-content: center;
     
}
.inputFields{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    
    width: clamp(200px,100%,600px);  
}
.inputFormContainer{
    background-color: lightgoldenrodyellow;
    width: clamp(200px,100%,2000px); 
}

.logoCont{
    display: flex;
    justify-content: center;
    padding: 0.5em;
    align-items: center;
    margin: 6rem 0;   
    background-color: rgba(20, 19, 19, 0.54);
}

.left_Container{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    color: white;
    height: 100%;
    justify-content: space-between;
    width: clamp(500px,50%,80vw);
    background-image: url(./image/yevhenii-dubrovskyi-nMKiXDttqEQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.textForm p{
    padding: 10px 0;
}



@media only screen and (max-width: 600px) {
    body{
        flex-direction: column;
        
    }
    .left_Container{
        width: 100vw;
    }

    .formBody{
        width: 90%;
    }

}